@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.body{
    display: flex;
    height: 100vh;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Righteous", sans-serif;
}

.header-section{
    display: flex;
}

.container-rait {
    height: 100%;
    width: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 10px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.12), 0 10px 11px rgba(0,0,0,0.24);
}

#logo-section{
    height: 100px;
    width: 100%;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#website-logo {
    background: black;
    fill: black;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

#sidebar{
    height: 25%;
    width: 100%;
    padding: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header {
    height: 100px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.24);
    display: flex;
    align-items: center;
}

.icon-search{
    font-size: 20px;
}

#research-bar {
    height: 50%;
    width: 15%;
    background: #B0B0B0;
    margin: 20px;
    border-radius: 15px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#search-text{
    color: #666666;
    margin-left: 20px;
    font-size: 20px;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
}

.section-courses {
    width: 60%;
    height: 100%;
}

.section-map {
    width: 40%;
    height: 100%;
    background-color: gray;
}

.menu{
    background-color: red;
    width: 1000px;
    height: 1000px;
}

#main > .section > .button {
    margin-top: 28px;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--color-accent);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-secondary);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
  
#main > .section > .button:hover {
    background: var(--color-accent-hover);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #main > .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - (16px * 2));
    padding: 32px 16px;
    background: var(--color-secondary);
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  @media (min-width: 1024px) {
    #main > .section {
      width: 450px;
    }
  }
  
  #main > .section > .title {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-primary);
  }
  
  #main > .section > .description {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary);
  }
  
  #main > .section > .button {
    margin-top: 28px;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--color-accent);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-secondary);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #main > .section > .button:hover {
    background: var(--color-accent-hover);
  }